RetainFlowValue/Retain_Previously_Entered_Value.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Screen1_values</name>
        <label>Assign Screen1 values</label>
        <locationX>691</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>Acc_name_variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_screen2_values</name>
        <label>Assign screen2 values</label>
        <locationX>211</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>Billing_city_variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_city</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Back</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Go_Back</name>
        <label>Go Back</label>
        <locationX>184</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBackClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Industry_choiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Retain {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retain Previously Entered Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>458</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Screen1_values</targetReference>
        </connector>
        <fields>
            <name>Screen1header</name>
            <fieldText>&lt;p&gt;Header1&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_name_display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_name</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Industry_display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Industry&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Industry</name>
                    <choiceReferences>Account_Industry_choiceset</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen2_value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Screen2 values&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Billing_City_Value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Billing City Value :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Billing_country_value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Billing Country Value :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>spacer</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingCity_display</name>
                    <fieldText>&lt;p&gt;{!Billing_city}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Billing_country_disp</name>
                    <fieldText>&lt;p&gt;{!BillingCountry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NavigationButtons1</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varBackClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBackClicked</assignToReference>
                <name>varBackClicked</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>462</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_screen2_values</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_city_display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Billing City&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Billing_city</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Country_display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Billing Country&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingCountry</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_disp</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Screen1 Values&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Acc_name_disp</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Acc_industry_disp</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Industry :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>spacer1</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>acc_name_value</name>
                    <fieldText>&lt;p&gt;{!Account_name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>acc_industry_value</name>
                    <fieldText>&lt;p&gt;{!Account_Industry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NavigationButtons2</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varBackClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBackClicked</assignToReference>
                <name>varBackClicked</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Acc_name_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Billing_city_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBackClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
